a, a:hover, a:active, a:visited {
    color: white;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
}
 body {
      background-image: url("/images/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
}

html {
  position: relative;
  min-height: 100%;
  color: white;
}

.jumbotron {
    background-color: #3CBC8D;

}

.well {
    background-color: rgba(128, 128, 128, 0.7);
    color: white;

}
