{{#partial "content"}}
    <div class="well">
    <h1>Join our team</h1>

        <p>Here at Garden Guides, we are looking for the following positions to fill:</p>

        <ul>
            <li><a href="https://www.indeed.com/q-Marketing-Representative-jobs.html">Graphic Designer</a></li>
            <li><a href="https://www.indeed.com/q-Marketing-Representative-jobs.html">Marketing Representative</a></li>
            <li><a href="https://www.indeed.com/jobs?q=Sales+Director&l=">Sales Director</a></li>
            <li><a href="https://www.indeed.com/jobs?q=regional+sales+rep&l=">Regional Sales Representative</a></li>
            <li><a href="https://www.indeed.com/jobs?q=web+developer&l=">Web Developer</a></li>
        </ul>


    </div>
{{/partial}}

{{> layout.hbs}}