{{#partial "content"}}
    <div class="well">
        <div class="categoryDescription">
            <p>
                <span>
                    You worked hard. Now it's time to sit back, ponder the coming change of season, and grow a whole bunch of tasty food!
                </span>
                <br>
                <br>
                <span>
                    <strong>
                        We're celebrating all week long and offering 10% OFF SITEWIDE.
                    </strong>
                </span>
            </p>
        </div>

    </div>
{{/partial}}

{{> layout.hbs}}